.contForm1 {
    width: 30vw;
    height: 100vh;
    margin-top: 10vh;
    background-color: rgba(136,153,167, .5);
    padding: 2%;
    border-radius: 20px;
    backdrop-filter: blur(2px)
}
.bg {
    background-image: url(../../asset/mu.png);
    background-size:auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center
}
.textSignUpFree {
    text-align: center;
    color: black
}
.textLabel {
    color: black
}
.register{
    display:flex; 
    justify-content:center
}
.registerButton {
    margin-bottom: 5px;
    margin-top: 15px;
}
.textHaveAccount {
   color: black;
   font-size: 13px;
   text-align:center
}
.linkLogin {
    color: black; 
    font-size: 14px;
    margin-left: 6px
}
p {
    font-size: 15px;
    margin-top: 0px;
    padding: 0px;
}