.cart{
background-color: brown;
}
.alltrans{
background-color: burlywood;
}
.layerDisplay{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    box-sizing: border-box;
}
.layerImg{
    flex-basis: 30%;
}
.layerText{
    flex-basis: 70%;
}
.contImg{
    height: 30vh;
}