.layer{
    display: flex;
    margin-top: 0px;
}
.contImg{
    background-color: blue;
    width: 50%;
}
.detail{
    padding: 10px;
    width: 50%;
    background-color:#c7c2c2 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img{
    height: 35%;
    width: 35%;
    margin-left: 120px;
    margin-top: 1px;
    margin-bottom: 30px;
    
}
.name{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}